<!--In order to use the base.html from bootstrap we need to extend it-->
{% extends 'bootstrap/base.html' %}

{% block head %}
<!--Remember, use super() if you want to take the data from the parent html and mix it with yours-->
    {{ super() }}
    <title>
        {% block title %} Flask Platzi | {% endblock %}
    </title>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" type="text/css">-->
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <!-- Jinja have blocks, you can use them to re-use code and inherit from others html files -->

{% endblock %}

{% block body %}
    {% block navbar %}
    <!-- using 'include' you can take some parts of code and use it everywhere, this is good
    because of principle write once use any times-->
            {% include 'navbar.html' %}
    {% endblock %}

<!--this content block is empty, but if we inherit from base.html then can fill it with anything-->
    {% block content %}
<!--        <p> This is some content inherited from base.html block content</p>-->
    {% endblock %}
{% endblock %}

<!--When using bootstrap and extending the base.html, you don't need the <html> and <body> tags-->